$grey: #666;
$white: #f4f4f4;
$black: hsl(0, 0%, 3%);
$yellow: #f2bf63;

$serif: 'Sangbleukingdom', Times;
$sans-serif: 'Roboto Mono';

$max-container-width: 1200px;
$max-content-width: 600px;
$h-margins: 20px;